# Configuration file

~CONFIG_VERSION: rv6-stable-7-extended_life-v0.55.13

counters {
    I:lastGridStorage=553460
    I:lastPlayer=2
}


gridstorage {
    S:524774=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:524915=
    S:525208=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:525286=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:526001=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXKYnMAABgD/bsYXFQAAAA==
    S:528517=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528518=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528519=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528520=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528521=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528522=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528523=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528524=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528525=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528526=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528528=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528532=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528533=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528534=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528535=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528536=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528537=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528796=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:530560=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:530564=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:530951=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXKYcV2AAQQAHAGorBUAAAA=
    S:534532=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo0WUAAwB0QmREFQAAAA==
    S:534556=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:536623=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXKYfVKht37CdgYAp6IBPRUAAAA=
    S:536831=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:537343=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:538129=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXKYtf7kX76HXxkAepmrlRUAAAA=
    S:538479=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538493=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538494=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538495=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538496=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538497=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538498=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538499=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538500=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538702=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:538758=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoYHJgAAEAIhRmJRUAAAA=
    S:538888=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoN2xgAAEA9acldBUAAAA=
    S:538889=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoq3nAAAIAiLynlRUAAAA=
    S:538896=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:538900=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:538911=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa13AAAIA7skZaxUAAAA=
    S:538915=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:538950=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa13AAAIA7skZaxUAAAA=
    S:538952=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo/6/AAAIAzVIb8RUAAAA=
    S:539206=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:539211=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:539219=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJok1dPY5vAwAAAPaEe7RUAAAA=
    S:539468=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoYHJgAAEAIhRmJRUAAAA=
    S:539589=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:539591=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:539592=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:539644=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:539661=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:539827=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:541514=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoN2xgAAEA9acldBUAAAA=
    S:541515=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoq3nAAAIAiLynlRUAAAA=
    S:541536=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa2KVE9nBwAAAvjGJLBUAAAA=
    S:541576=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa13AAAIA7skZaxUAAAA=
    S:541589=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo/+vAAAIAvkxwbhUAAAA=
    S:541773=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:541778=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:541786=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoU01gAAEANARaPRUAAAA=
    S:542201=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:544190=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoN2xgAAEA9acldBUAAAA=
    S:544192=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoq3nAAAIAiLynlRUAAAA=
    S:544215=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa62s+/yCgQEA9uLoKxUAAAA=
    S:544256=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa13AAAIA7skZaxUAAAA=
    S:544271=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo/+vAAAIAvkxwbhUAAAA=
    S:544322=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:544331=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoU01gAAEANARaPRUAAAA=
    S:544746=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:545164=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:546386=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:546466=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoc2EAAwA/TG8YFQAAAA==
    S:546972=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:548130=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoN2xgAAEA9acldBUAAAA=
    S:548131=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoq3nAAAIAiLynlRUAAAA=
    S:548153=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoq70b0LuAgQEAAl9sdRUAAAA=
    S:548193=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa13AAAIA7skZaxUAAAA=
    S:548207=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo/+vAAAIAvkxwbhUAAAA=
    S:548256=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:548261=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:548269=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoU01gAAEANARaPRUAAAA=
    S:549022=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo7WcAAwCtgPpYFQAAAA==
    S:549524=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXKYn8EABgDXNYZzFQAAAA==
    S:551044=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoN2xgAAEA9acldBUAAAA=
    S:551045=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoq3nAAAIAiLynlRUAAAA=
    S:551067=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa9BurjdgYAAASp0nrBUAAAA=
    S:551107=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa13AAAIA7skZaxUAAAA=
    S:551121=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo/+vAAAIAvkxwbhUAAAA=
    S:551170=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:551175=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:551183=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoU01gAAEANARaPRUAAAA=
    S:551223=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:551981=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo7WMAAwAZi43+FQAAAA==
    S:552373=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoN2xgAAEA9acldBUAAAA=
    S:552396=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoqz0Q0baBgQEA9yFzMRUAAAA=
    S:552436=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoa13AAAIA7skZaxUAAAA=
    S:552450=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJo/+vAAAIAvkxwbhUAAAA=
    S:552499=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:552504=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLoZIAAAPkPC3EVAAAA
    S:552512=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoU01gAAEANARaPRUAAAA=
    S:552552=H4sIAAAAAAAAAONiYGAAAHg/+U4EAAAA
    S:553327=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJoncAABgCKbGzJFQAAAA==
    S:553413=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
}


players {
    I:49e1b2a9-d73e-4a53-9726-98afa31cb8a9=0
    I:7800f48a-7838-4eb7-950f-43ec1aa76cf7=1
}


