# Configuration file

~CONFIG_VERSION: rv6-stable-7

counters {
    I:lastGridStorage=525433
    I:lastPlayer=2
}


gridstorage {
    S:524774=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:525208=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:525286=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
}


players {
    I:49e1b2a9-d73e-4a53-9726-98afa31cb8a9=0
    I:7800f48a-7838-4eb7-950f-43ec1aa76cf7=1
}


