# Configuration file

~CONFIG_VERSION: rv6-stable-7-extended_life-v0.52.5

counters {
    I:lastGridStorage=529976
    I:lastPlayer=2
}


gridstorage {
    S:524774=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:524915=
    S:525208=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:525286=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIZIAAAJgq2/IVAAAA
    S:526001=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXKYnMAABgD/bsYXFQAAAA==
    S:528517=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528518=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528519=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528520=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528521=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528522=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528523=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528524=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528525=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528526=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528528=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528532=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528533=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528534=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528535=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528536=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528537=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:528796=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:529799=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXKY5MEABgCaGT4nFQAAAA==
    S:529896=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
}


players {
    I:49e1b2a9-d73e-4a53-9726-98afa31cb8a9=0
    I:7800f48a-7838-4eb7-950f-43ec1aa76cf7=1
}


